* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  width: 30rem;
  height: 3rem;
  background-color: rgba(225, 225, 225, 0.3);
  color: rgb(76, 75, 75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 1rem auto;
  transition: all 0.3s ease-in-out;
}
.menu:hover {
  background-color: rgba(225, 225, 225, 0.4);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.menu i {
  transition: all 0.3s ease-in-out;
}
.menu i.active {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.content {
  width: 30rem;
  background-color: rgba(225, 225, 225, 0.3);
  color: rgb(76, 75, 75);
  border-radius: 0.4rem;
  padding: 1rem;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.content.active {
  visibility: visible;
  transition: all 5s ease-in-out;
}
.name,
.menu p {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  line-height: 2.7rem;
  cursor: pointer;
  transition: padding 0.3s ease-in-out;
}
.name:hover {
  background-color: rgba(225, 225, 225, 0.2);
  border-radius: 0.4rem;
  padding: 0 0.7rem;
  transition: padding 0.3s ease-in-out;
}
