* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    331deg,
    rgba(0, 0, 0, 1) 28%,
    rgba(71, 71, 80, 1) 96%
  );
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  width: 30rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    331deg,
    rgba(71, 71, 80, 1) 0%,
    rgba(0, 0, 0, 1) 50%
  );
  color: white;
  border-radius: 1rem;
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
input {
  width: 70%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  margin: 1rem 0;
}
p {
  letter-spacing: 0.5px;
}
.content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 0;
}
