* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
section {
  width: 90vw;
  display: flex;
  gap: 1rem;
}
.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 0.5;
  border-radius: 3rem;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in;
}
.card.active {
  flex: 5;
}
.card h3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 2.5rem;
  bottom: 2rem;
  opacity: 0;
}
.card.active h3 {
  opacity: 1;
  transition: 0.5s ease-in;
}
