* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#iphone {
  z-index: 1;
}
.tabContent .image {
  position: absolute;
  width: 22rem;
  height: 45rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 4rem;
  opacity: 0;
  transition: all 0.4s;
}
.tabContent .image.active {
  opacity: 1;
  transition: all 0.4s;
}
.nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0.3rem;
  z-index: 2;
  width: 22rem;
  height: 6rem;
  border-radius: 0 0 3.5rem 3.5rem;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.2rem;
}
.nav ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
.nav ul li small {
  font-size: 0.6rem;
  color: rgb(188, 186, 186);
  margin-top: 0.5rem;
}
.nav ul li:hover > * {
  transform: scale(1.1);
  transition: all 0.4s;
}
.nav ul li.active > * {
  color: aqua;
  transform: scale(1.1);
  transition: all 0.4s;
}
.bar {
  position: absolute;
  width: 7rem;
  height: 0.35rem;
  background-color: rgba(173, 171, 171, 0.7);
  border-radius: 5rem;
  bottom: 1.1rem;
  z-index: 3;
}
